{% extends "core/base.html" %}

{% load static %}

{% block title %}
<title>Anasayfa</title>
{% endblock title %}

{% block content %}
<section id="service" class="container-fluid">
  <div class="container text-white">

    <div class="row p-4 rounded-4">
      <div class="col-md-6 d-flex flex-column">
        <div class='w-75'>
          <img src="{% static 'images/resim1.png' %}" class='w-100' alt="">
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <ul class='list-unstyled d-flex flex-column gap-4 w-75'>
          <li class='border-bottom p-1'>
            Lorem ipsum dolor sit.
            <p class="hide mt-2 list-item-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>
          <li class='border-bottom p-1'>Sunt necessitatibus facilis provident?
            <p class="hide mt-2 list-item-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>
          <li class='border-bottom p-1'>Illo amet recusandae rerum!
            <p class="hide mt-2 list-item-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>
          <li class='border-bottom p-1'>Asperiores illo provident ea?
            <p class="hide mt-2 list-item-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>
          <li class='border-bottom p-1'>Natus mollitia fuga porro?
            <p class="hide mt-2 list-item-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>
          <li class='border-bottom p-1'>Ipsam expedita quas sunt.
            <p class="hide mt-2 list-item-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>
          <li class='border-bottom p-1'>Velit quaerat reiciendis tempora.
            <p class="hide mt-2 list-item-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>
          <li class='border-bottom p-1'>Et voluptate repudiandae facere!
            <p class="hide mt-2 list-item-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>
        </ul>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <ul class="list-unstyled d-flex flex-column gap-4 w-75">
          <li class="border-bottom p-1">
            <p class="d-flex justify-content-between align-items-center">
              <span class="button">Lorem, ipsum dolor.</span>
              <i class="fa-solid fa-caret-up" style="color: #fff;"></i>
            </p>
            <p class="hide mt-2">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>

          <li class="border-bottom p-1">
            <p class="d-flex justify-content-between align-items-center">
              <span class="button">Lorem, ipsum dolor.</span>
              <i class="fa-solid fa-caret-up" style="color: #fff;"></i>
            </p>
            <p class="hide mt-2">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>

          <li class="border-bottom p-1">
            <p class="d-flex justify-content-between align-items-center">
              <span class="button">Magni, commodi impedit?</span>
              <i class="fa-solid fa-caret-up" style="color: #fff;"></i>
            </p>
            <p class="hide mt-2">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>

          <li class="border-bottom p-1">
            <p class="d-flex justify-content-between align-items-center">
              <span class="button">Magni, commodi impedit?</span>
              <i class="fa-solid fa-caret-up" style="color: #fff;"></i>
            </p>
            <p class="hide mt-2">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>

          <li class="border-bottom p-1">
            <p class="d-flex justify-content-between align-items-center">
              <span class="button">Magni, commodi impedit?</span>
              <i class="fa-solid fa-caret-up" style="color: #fff;"></i>
            </p>
            <p class="hide mt-2">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>

          <li class="border-bottom p-1">
            <p class="d-flex justify-content-between align-items-center">
              <span class="button">Magni, commodi impedit?</span>
              <i class="fa-solid fa-caret-up" style="color: #fff;"></i>
            </p>
            <p class="hide mt-2">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quae?
            </p>
          </li>

        </ul>
      </div>

      <div class="col-md-6">
        <img src="{% static "images/resim2.png" %}" class="w-100" alt="">
      </div>
    </div>
</div>
</section>

<section id='egitim-section' class='container-fluid'>
  <div class='container px-5'>
    <div class="row">
      <div class="col-md-8">
          <h1 class='text-white'>Eğitimlerimizi inceleyin</h1>
          <ul class="list-unstyled d-flex mt-5 flex-column gap-4 w-75 text-white">
            <li class="p-1 pointer"><span class='fs-4'>Python django ile fullstack</span>
              <p class="hide mt-2">
                Django, güçlü bir Python web çerçevesidir ve web uygulamalarını hızlı ve verimli bir şekilde geliştirmek için kullanılır. Django'nun kolay kullanımı ve geniş bir topluluk desteği sayesinde, satış yapmak için etkili bir online platform oluşturabilir ve müşterilere harika bir alışveriş deneyimi sunabilirsiniz. Ayrıca Django'nun güvenlik önlemleri ve modüler yapısı, verilerinizi korumanıza ve özelleştirmenize yardımcı olarak, işinizi büyütmenizde size güvence sağlar.
              </p>
            </li>
            <li class="p-1 pointer"><span class='fs-4'>C# .Net ile fullstack</span>
              <p class="hide mt-2">
                C# ve .NET, kodunuzu güçlü ve etkili bir şekilde yönetmenizi sağlayan bir ekip olarak çalışır. C#'ın kapsamlı yetenekleri ve .NET'in sağladığı çeşitli araçlar sayesinde, projelerinizi hızlı ve sorunsuz bir şekilde geliştirebilirsiniz. Bu teknolojilerle, müşterilere kusursuz ve etkileyici deneyimler sunarak sanki bir ürünü satıyormuş gibi güçlü bir etki yaratabilirsiniz. Ayrıca, .NET'in sağladığı güvenlik ve performans özellikleri, müşterilerinizi güvende tutmanıza ve işinizi büyütmenize olanak tanır.
              </p>
            </li>
            <li class="p-1 pointer"><span class="fs-4">Node.js ile fullstack</span>
              <p class="hide mt-2">
                Node.js, hızlı, esnek ve ölçeklenebilir bir platform sunarak, web uygulamalarınızı güçlü bir şekilde hayata geçirmenize yardımcı olur. Bu platform, sanki bir ürünü satıyormuş gibi müşterilere etkileyici ve kesintisiz bir çevrimiçi deneyim sunmanızı sağlar. Node.js, hızlı geliştirme süreçleri ve büyük veri işleme kapasitesi ile projelerinizi kolayca yönetmenizi mümkün kılar. Ayrıca, Node.js'in düşük gecikme süreleri ve yüksek performansı, kullanıcılarınıza hızlı yanıtlar sunmanızı ve işinizi büyütmenizi destekler. Sonuç olarak, Node.js ile web uygulamalarınızı geliştirirken, müşterilerinizi etkilemek ve çevrimiçi başarı elde etmek konusunda büyük bir avantaja sahip olursunuz.
              </p>
            </li>
            <li class="p-1 pointer"><span class="fs-4">React.js ile frontend</span>
              <p class="hide mt-2">
                React.js, modern web geliştirme dünyasında olağanüstü bir etki yaratıyor. Bu güçlü ve esnek framework, geliştiricilere kullanıcı arayüzlerini oluşturmak ve yönetmek için benzersiz bir araç sunuyor. React, bileşen tabanlı yapısı sayesinde kodunuzu düzenli ve sürdürülebilir hale getirirken, hızlı yeniden render özelliği ile kullanıcıların harika bir deneyim yaşamasını sağlar. Bu, sadece React.js'i kullanarak bile, web projelerinizi hızlı ve etkileyici bir şekilde hayata geçirmenize yardımcı olur. Bu nedenle React.js, web geliştirme dünyasında vazgeçilmez bir araçtır ve her türden proje için idealdir.
              </p>
            </li>
          </ul>
      </div>
      <div class="col-md-4">
        <div class="w-100">
          <img src="{% static 'images/egitim1.png' %}" class="w-100" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}