{% extends "core/base.html" %}

{% load static %}

{% block title %}
<title>Anasayfa</title>
{% endblock title %}

{% block content %}
<section id="service" class="container-fluid">
  <div class="container text-white">
    




    

    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <ul class="list-unstyled d-flex flex-column gap-4 w-75">
          <li class="border-bottom p-1">Lorem, ipsum dolor.</li>
          <li class="border-bottom p-1">Adipisci, repellat. Blanditiis!</li>
          <li class="border-bottom p-1">Magni, commodi impedit?</li>
          <li class="border-bottom p-1">Repellat, architecto enim.</li>
          <li class="border-bottom p-1">Eum, vero aliquam?</li>
          <li class="border-bottom p-1">Eum, vero aliquam?</li>
        </ul>
      </div>

      <div class="col-md-6">
        <img src="{% static "images/resim2.png" %}" class="w-100" alt="">
      </div>
    </div>
</div>
</section>
{% endblock content %}