{% extends "core/base.html" %}

{% load static %}

{% block title %}<title>kadromuz</title>{% endblock title %}

{% block content %}

<div id="kadromuzContent" class='py-5'>
  <div class="explain-div">
    <div class="container">
      <p class='text-white'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde accusamus distinctio aut illum id, earum eveniet autem fuga accusantium porro corrupti nostrum ex quasi asperiores non soluta dignissimos expedita reprehenderit.</p>

      <h2 class='fs-1 text-white'>Lorem, ipsum.</h2>
      <p class='text-white'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quaerat repellendus dolorum, harum illo quae aperiam fuga ad. Cum, a similique quas necessitatibus provident minus.</p>
    </div>
  </div>
</div>

<section id='kadro'>

</section>
{% endblock content %}