{% if request.path == '/' %}
  <header id="header">
  <!-- bootstrap navbar start -->
  {% include "partials/_navbar.html" %}
  <!-- bootstrap navbar end -->

    <div class="container d-flex justify-content-center gap-1 align-items-center flex-column">
      <h6 class="text-uppercase text-secondary text-center ">Yazılım geliştirme akademisi</h6>
      <div class="heading-div">
        <h1 class="text-center text-white text-capitalize fw-bold">İşinizi geleceğe hazır hale getirin</h1>
      </div>
      <div class="explain-div">
        <!-- <h6 class="text-center text-white fs-6">İnsan kaynakları uzmanı, teknik ik ve staj sorumlunuzla birlikte alanında uzman birden fazla mentorden bireysel destek, derslere ve staja ek olarak uygulamaya ayrılmış 196 saatlik süre ve yazılım uzmanlığı eğitiminize ekleyebileceğiniz yazılım odaklı Almanca veya İngilizce eğitimi Neos Yazılım Akademi'nin sağladığı avantajlardan bazılarıdır.</h6> -->
      </div>
      <div>
        <a href="#" class="btn btn-outline-light">inceleyin</a>
      </div>

      <div class="position-relative mt-5">
        <div class='icon-scroll '></div>
      </div>
      




    </div>

</header>
{% endif %}

{% if request.path == '/kadromuz/' %}
  {% include "partials/_kadromuz-header.html" %}
{% endif %}