<header id="header">
  <!-- bootstrap navbar start -->
  <nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="w-50">
          <img src="./static/images/neos-logo.png" class="w-100" alt="neos-logo">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex flex-row gap-5 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Yazılım uzmanlığı eğitimi
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">avrupa'da kariyer</a></li>
              <li><a class="dropdown-item" href="#">online</a></li>
              <li><a class="dropdown-item" href="#">istanbul şube</a></li>
              <li><a class="dropdown-item" href="#">izmir şube</a></li>
              <li><a class="dropdown-item" href="#">ankara şube</a></li>
              <li><a class="dropdown-item" href="#">bursa şube</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">iletişime geç</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">Yorumlar</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">kadromuz</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">hakkımızda</a>
          </li>
          <li class="nav-item">
            <a href="#" class="btn btn-outline-light text-uppercase">iletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- bootstrap navbar end -->
  <div class="container d-flex justify-content-center gap-1 align-items-center flex-column">
    <h6 class="text-uppercase text-secondary text-center ">Yazılım geliştirme akademisi</h6>
    <div class="heading-div">
      <h1 class="text-center text-white text-capitalize fw-bold">İşinizi geleceğe hazır hale getirin</h1>
    </div>
    <div class="explain-div">
      <!-- <h6 class="text-center text-white fs-6">İnsan kaynakları uzmanı, teknik ik ve staj sorumlunuzla birlikte alanında uzman birden fazla mentorden bireysel destek, derslere ve staja ek olarak uygulamaya ayrılmış 196 saatlik süre ve yazılım uzmanlığı eğitiminize ekleyebileceğiniz yazılım odaklı Almanca veya İngilizce eğitimi Neos Yazılım Akademi'nin sağladığı avantajlardan bazılarıdır.</h6> -->
    </div>
    <div>
      <a href="#" class="btn btn-outline-light">inceleyin</a>
    </div>

    <div class="position-relative mt-5">
      <div class='icon-scroll '></div>
    </div>
    
  </div>

  <section class="bg-white container rounded-3">
    
    <div class="row p-4 rounded-4">
      <div class="col-md-6 d-flex flex-column">
        <div class="padding-sag d-flex flex-column">
          <!-- <h2 class="fs-5 fw-bold">Yüz yüze yazılım kursu ve online yazılım kursu</h2> -->
        </div>
        <ul class="fs-6 fw-bolder list-group list-unstyled d-flex flex-column" id="basari-liste">
          <li class="list-item">en iyi yazılım akademisi ödülü</li>
          <li class="list-item">katılımcı ödülü</li>
          <li class="list-item">sertifikalar ve belgeler</li>
          <li class="list-item">şube haritaları</li>
        </ul>
      </div>
      <div class="col-md-6 ">
        <p class="">İnsan kaynakları uzmanı, teknik ik ve staj sorumlunuzla birlikte alanında uzman birden fazla mentorden bireysel destek, derslere ve staja ek olarak uygulamaya ayrılmış 196 saatlik süre ve yazılım uzmanlığı eğitiminize ekleyebileceğiniz yazılım odaklı Almanca veya İngilizce eğitimi Neos Yazılım Akademi'nin sağladığı avantajlardan bazılarıdır.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <p>Neos Yazılım Akademi'nin 543 saatlik "Yazılım Uzmanlığı Eğitimi"; hangi mesleki altyapıya sahip olduğunuz fark etmeksizin sizleri sıfırdan yazılım uzmanı seviyesinde mezuniyete ulaştırabilen benzersiz bir eğitim içeriğine sahiptir. Yazılım uzmanlığı eğitimi'nde yer almak için hiçbir diploma şartı aranmamaktadır. 14 yaşın üzerindeki her yazılım uzmanı adayı Neos Yazılım Akademiden eğitim alabilmektedir. Yazılım eğitimi kapsamında seçtiğiniz yazılım uzmanlığı eğitim programına bağlı olarak; C#, .NET, Python, Django, Node JS, Vanilla JS, jQuery, Bootstrap, HTML, CSS, Sass gibi yazılım ve web geliştirmenin en önemli konularında uzmanlaşabilirsiniz. </p>
      </div>

      <div class="col-md-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/9pJTdYcKVsM?si=S_W-IMn3JFdl_rT5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </section>
</header>