$first-linear-gradient-color: rgba(0,0,0,.7);
$second-linear-gradient-color: rgb(80, 51, 103,.7);
$first-linear-gradient-index-color: rgba(0,0,0,1);
$second-linear-gradient-index-color: rgb(80, 51, 103,1);
$third-linear-gradient-index-color: rgb(255, 121, 0,.4);
body{
  min-height: 100vh;
  background-repeat: no-repeat;

  #kadromuz{
    background: linear-gradient(22deg, $first-linear-gradient-color 0%, $first-linear-gradient-color 25%, $second-linear-gradient-color 94%, rgba(162,209,255,.4) 100%),url('../images/egitmen-bg.jpg');
    height: 300px;

  }
  #header{
    background: transparent;
    background: linear-gradient(22deg, $first-linear-gradient-index-color 0%, $first-linear-gradient-index-color 25%, $second-linear-gradient-index-color 85%, $third-linear-gradient-index-color 100%);

    nav{

      .container-fluid{


        .offcanvas-body{

          ul.navbar-nav{

            li.nav-item{

              a.nav-link{
                color: white!important;
                text-transform: uppercase;
                position: relative;

                &::before{
                  content: "";
                  position: absolute;
                  width: 0;
                  height: 2px;
                  bottom: 0;
                  left: 0;
                  background-color: white;
                  transition: width 0.3s ease;
                }
                &:hover::before {
                  width: 100%;
                }
      

                
                }
                ul.dropdown-menu{
                  background-color: transparent;
                  li{
                    a.dropdown-item{
                      color: white!important;
                      text-transform: uppercase;
                      position: relative;

                      &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: white;
                        transition: width 0.3s ease;
                      }

                      &:hover{
                        background-color: transparent;
                      }
                      &:hover::before {
                        width: 100%;
                      }
                    }
                  }
              }
            }
          }
        }
      }
    }

    div.container{
      height: 600px;
      div.heading-div{
        padding: 0px 50px;
        h1{
          font-size: 4rem;
        }
      }

      div.explain-div{
        padding: 5px 200px;
      }
      .icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;

  &:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

  }

    section.container{
      .col-md-6{
        div.padding-sag{
          padding-right: 50px;
        }
        ul.list-unstyled{
          li{
            a{
              font-size: 12px;
              text-decoration: none;
              color: rgba(0,127,255,1);
            }
          }
        }
      }

      .col-md-6 p{
        text-align: justify;
      }

    }
  }
}

#service {
  background: transparent;
  background: rgb(0,0,0);
  background: linear-gradient(146deg, $first-linear-gradient-index-color 0%, $first-linear-gradient-index-color 25%, $second-linear-gradient-index-color 85%, $third-linear-gradient-index-color 100%);


}

#egitim-section{
  height: 700px;
  background: linear-gradient(16deg, $first-linear-gradient-index-color 0%, $first-linear-gradient-index-color 25%, $second-linear-gradient-index-color 85%, $third-linear-gradient-index-color 100%);
}

.hide {
  visibility: hidden;
  height: 0px;
  transition: all .2s linear;
}
.show {
  height: 50px;
  visibility: visible;
  transition: all .2s linear;
}

.transition{
  transition: all .2s linear;
}

#kadromuzContent{
  background-color: #023047;
}